<ion-view title="Consommation" id="page3">
    <ion-content padding="true" class="has-header">
    	<div class="list card">
    	
    		<a class="item item-icon-left">
			    <i class="icon ion-ios-sunny energized"></i>
				Heures pleines
				<span class="badge badge-energized">{{system.meter.standard}}</span>
			</a>

			<a class="item item-icon-left">
			    <i class="icon ion-ios-moon royal"></i>
				Heures creuses
				<span class="badge badge-royal">{{system.meter.savings}}</span>
			</a>

			<a class="item item-divider item-icon-left assertive">
			    <i class="icon ion-speedometer assertive"></i>
				Puissance instantanée
				<span class="badge badge-assertive">{{system.power}}</span>
			</a>
			<div class="item item-body">
			    <canvas class="chart chart-line"
					chart-labels="system.powerChart.labels"
					chart-data="system.powerChart.data"
					chart-options="system.powerChart.options"
					chart-colors="system.powerChart.colors">
				</canvas>
			</div>

    	</div>
    </ion-content>
</ion-view>